.DS_Store
Thumbs.db
/fsh-generated
/input-cache
/output
/temp
/template
/.publication
pdf/
*.jar
*.bat
_*.sh
*.pdf
notebooks/
*-generated.md
.vscode/
/examples/
publication-request.json
ig-registry.json
